body {
	background-image: url(../images/tutor.jpg);
	background-size: cover;
}

.test {
	font-size: medium;
	font-weight: lighter;
}

.lefty {
	border-right-style: groove;
	border-right-color: white;
	border-right-width: 1px;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infobox {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(179, 207, 245, 0.14);
	margin-bottom: 0px;
}

.infobox h5 {
	font-weight: 300;
}

nav .brand-logo {
	padding-left: 10px;
}